
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Library Management System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'books/css/styles.css' %}">
</head>
<body>
    <div class="navbar">
        
        <div>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            {% block content %}
            {% endblock %}
           
            
        </div>
        <div>Library Management System</div>
    </div>
    
   
    <script src="{% static 'books/js/scripts.js' %}"></script>
</body>
</html>
